# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Creation of a table using markdown

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. matplotlib

|Data Science Tools|
--------------------
|Jupyter|
|Rstudio|
|Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [10]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Pedro Paulucci MÃ¼ller